.TextBubble {
    background-color: white;
    position: relative;
    display: block;
    align-self: center;
    top: 5%;
    margin: 25%;
    padding-left: 20%;
    padding-right: 25%;

    border-style: solid;
    border-radius: 25px;
    margin-top: 10%;
}

.Text {
    display: inline-block;
    font-size: 100%;
    padding: 15%;
    color: black;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .TextBubble {
        margin: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
}