

.menuTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foodItem {
    display: flex;
    flex: 100%;
    padding: 5%;
    max-height: 3%;
    flex-direction: row;
   justify-content: space-between;
   left: 0;
   right: 0;
   background-color: #1a2416;
   margin-top: 10%;
   border-radius: 10px;
   

}


.textName {
    text-align: center;
    justify-items: center;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 100%;
    
    
}

.foodButton {
    flex: 2;
    padding: 5%;
    border-radius: 15px;
    cursor: pointer;
    border-color: #e0d088;
    flex-direction: row;
    max-width: 800px;

}
.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    color: #1a2416;
    font-size: 100%;
    font-weight: bold;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 5px;
    border-color: #e0d088;
}
.menuSwapButton {
    background-color: #1a2416;
    border-color: #1a2416;
    color: #1a2416;
}
.menuSwapText {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #1a2416;
}



    